In [605]:
 # Dependencies and Setup
import pandas as pd
import numpy as np

In [606]:
# Load the file
dataFile = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_pd = pd.read_csv(dataFile)

In [607]:
purchase_data_pd.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
1,18,Reunasu60,22,Female,82,Nirvana,4.90
2,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
3,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
4,55,Phaelap26,25,Female,84,Arcane Gem,3.79

In [608]:
# Purchasing Analysis (Total)
# Run basic calculations to obtain number of unique items, average price, etc.
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

# get number of unique purchases
unique_items = len(purchase_data_pd["Item ID"].value_counts())

# get the average price of items
avg_price = round(purchase_data_pd["Price"].mean(), 2)

# get number of purchased 
number_of_purchases = len(purchase_data_pd["Purchase ID"].value_counts())

# total revenue generated from sales
total_revenue = purchase_data_pd["Price"].sum()
total_revenue = round(total_revenue, 2)

# Create dataframe for number of items, avg sale price, number of purchases, and total revenue
purchase_summary = []
purchase_summary.append(unique_items)
purchase_summary.append("$" + str(avg_price))
purchase_summary.append(number_of_purchases)
purchase_summary.append("$" + str(total_revenue))

purchase_df = pd.DataFrame([purchase_summary], columns = ["Number of Unique Items", "Average Price", 
                                            "Number of Purchases", "Total Revenue"])
purchase_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

In [609]:
# Gender Demographics
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

# Get rid off duplicates 1st. 
gender_dem_df = purchase_data_pd.drop_duplicates("SN", inplace=False)
gender_dem_df.head()

# Determine count of male players
is_male = gender_dem_df["Gender"] == "Male"
males_df = gender_dem_df[is_male]
males_count = males_df.shape[0]

# Determine count of female players
is_female = gender_dem_df["Gender"] == "Female"
females_df = gender_dem_df[is_female]
females_count = females_df.shape[0]

# Subtract males + females from player_count to determine number of Other/Non-Disclosed
other_non_disclosed_count = player_count - (males_count + females_count)

# Calculate percentages for males, females and other/non_discolsed
males_percentage = round(((males_count /player_count) * 100), 2)
females_percentage = round(((females_count /player_count) * 100), 2)
other_non_disclosed_percentage = round(((other_non_disclosed_count /player_count) * 100), 2)

# Create the dataframe for dempraphic data
demographics_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                                "Total Count": [males_count, females_count, other_non_disclosed_count],
                                "Percentage of Players": 
                                [males_percentage, females_percentage, other_non_disclosed_percentage],
                                }, 
                               columns = ["Gender", "Total Count", "Percentage of Players"])

demographics_df = demographics_df.set_index("Gender")
demographics_df.style.format({"Percentage of Players": "{:.2f}%"})

In [610]:
# Purchasing Analysis (Gender)
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

# Purchases by male players
is_male = purchase_data_pd["Gender"] == "Male"
males_purchases_df = purchase_data_pd[is_male]
males_purchase_count = males_purchases_df.shape[0]
males_avg_purchase_price = males_purchases_df
males_total_spend = round((males_purchases_df["Price"].sum()), 2)
males_avg_spend = round((males_total_spend / males_purchase_count), 2)

# Purchases by female players
is_female = purchase_data_pd["Gender"] == "Female"
females_purchases_df = purchase_data_pd[is_female]
females_purchase_count = females_purchases_df.shape[0]
females_total_spend = round((females_purchases_df["Price"].sum()), 2)
females_avg_spend = round((females_total_spend / females_purchase_count), 2)

# Purchases - Other.Non dislosed
other_non_disclosed_purchase_count = number_of_purchases - (males_purchase_count + females_purchase_count)
other_non_disclosed_total_spend = round((total_revenue - (males_total_spend + females_total_spend)), 2)
other_non_disclosed_avg_spend = round((other_non_disclosed_total_spend / other_non_disclosed_purchase_count), 2)

# Create the dataframe for purchasing data analysis
purchase_by_gender_df = pd.DataFrame({"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                                    "Purchase Count": [males_purchase_count, females_purchase_count, 
                                                              other_non_disclosed_purchase_count],
                                    "Average Purchase Price": [males_avg_spend, females_avg_spend, other_non_disclosed_avg_spend],
                                    "Total Purchase Value": [males_total_spend, females_total_spend, other_non_disclosed_total_spend]}, 
                               columns = ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value"])

purchase_by_gender_df = purchase_by_gender_df.set_index("Gender")
purchase_by_gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Male,652,3.02,1967.64
Female,113,3.20,361.94
Other / Non-Disclosed,15,3.35,50.19

In [611]:
# Age Demographics
# Establish bins for ages
# Categorize the existing players using the age bins. Hint: use pd.cut()
# Calculate the numbers and percentages by age group
# Create a summary data frame to hold the results
# Optional: round the percentage column to two decimal points
# Display Age Demographics Table
# Create the bins in which Data will be held

# Create the bins in which Data will be held
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]

# Create the labels for bins
age_groups_lables = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Add column of bins based on Age
age_demographic_df["Age Groups"] = pd.cut(gender_dem_df["Age"],age_bins, labels=age_groups_lables)

#Calculate total count and percentage of those counts by age groups
age_groupby = age_demographic_df.groupby("Age Groups")["SN"].nunique().reset_index()
age_groupby["Percentage of Players"] = round((age_groupby["SN"]/age_groupby["SN"].sum() *100), 2) 
age_summary = age_groupby[["Age Groups", "SN", "Percentage of Players"]].sort_values(["Age Groups"])
#age_summary = age_summary.reset_index(drop=True)

# format columns
age_summary["Percentage of Players"] = age_summary["Percentage of Players"].map("{:,.2f}".format)

# set Indext to Age Groups
age_demos_summary = age_summary.set_index("Age Groups")
age_demos_summary = age_demos_summary.rename(columns = {"SN": "Total Count"}) 
age_demos_summary

            Total Count Percentage of Players
Age Groups
<10                  17                  2.95
10-14                22                  3.82
15-19               107                 18.58
20-24               258                 44.79
25-29                77                 13.37
30-34                52                  9.03
35-39                31                  5.38
40+                  12                  2.08

In [612]:
# Purchasing Analysis (Age)
 
# Run basic calculations to obtain purchase count, avg. purchase price, 
# avg. purchase total per person etc. in the table below
# Create a summary data frame to hold the results
# Optional: give the displayed data cleaner formatting
# Display the summary data frame

# Make a list of purchase counts by age
age_under_10_purchase_count = age_demographic_df[(age_demographic_df["Age"] < 10)].count()[0]
age_10_to_14_purchase_count = age_demographic_df[(age_demographic_df["Age"] >= 10) 
                                                 & (age_demographic_df["Age"] <= 14)].count()[0]
age_15_to_19_purchase_count = age_demographic_df[(age_demographic_df["Age"] >= 15) 
                                                 & (age_demographic_df["Age"] <= 19)].count()[0]
age_20_to_24_purchase_count = age_demographic_df[(age_demographic_df["Age"] >= 20) 
                                                 & (age_demographic_df["Age"] <= 24)].count()[0]
age_25_to_29_purchase_count = age_demographic_df[(age_demographic_df["Age"] >= 25) 
                                                 & (age_demographic_df["Age"] <= 29)].count()[0]
age_30_to_34_purchase_count = age_demographic_df[(age_demographic_df["Age"] >= 30) 
                                                 & (age_demographic_df["Age"] <= 34)].count()[0]
age_35_to_39_purchase_count = age_demographic_df[(age_demographic_df["Age"] >= 35) 
                                                 & (age_demographic_df["Age"] <= 39)].count()[0]
age_over_40_purchase_count  = age_demographic_df[(age_demographic_df["Age"] >= 40)].count()[0]
purchase_count_by_age = [age_under_10_purchase_count, age_10_to_14_purchase_count, age_15_to_19_purchase_count,
                        age_20_to_24_purchase_count, age_25_to_29_purchase_count, age_30_to_34_purchase_count,
                        age_35_to_39_purchase_count, age_over_40_purchase_count]

# Make a list of purchase totals by age
age_under_10_purchase_total = age_demographic_df.loc[age_demographic_df['Age'] < 10, 'Price'].sum()
age_10_to_14_purchase_total = age_demographic_df.loc[(age_demographic_df['Age'] >= 10) 
                                                     & (age_demographic_df['Age'] <=14), 'Price'].sum()
age_15_to_19_purchase_total = age_demographic_df.loc[(age_demographic_df['Age'] >= 15) 
                                                     & (age_demographic_df['Age'] <=19), 'Price'].sum()
age_20_to_24_purchase_total = age_demographic_df.loc[(age_demographic_df['Age'] >= 20) 
                                                     & (age_demographic_df['Age'] <=24), 'Price'].sum()
age_25_to_29_purchase_total = age_demographic_df.loc[(age_demographic_df['Age'] >= 25) 
                                                     & (age_demographic_df['Age'] <=29), 'Price'].sum()
age_30_to_34_purchase_total = age_demographic_df.loc[(age_demographic_df['Age'] >= 30) 
                                                     & (age_demographic_df['Age'] <=34), 'Price'].sum()
age_35_to_39_purchase_total = age_demographic_df.loc[(age_demographic_df['Age'] >= 35) 
                                                     & (age_demographic_df['Age'] <=39), 'Price'].sum()
age_over_40_purchase_total  = age_demographic_df.loc[age_demographic_df['Age'] >= 40, 'Price'].sum() 

# Calculate average purchases by age and make a list of it
average_purchase_by_age = [round((age_under_10_purchase_total / age_under_10_purchase_count), 2),
                           round((age_10_to_14_purchase_total / age_10_to_14_purchase_count), 2),
                           round((age_15_to_19_purchase_total / age_15_to_19_purchase_count), 2),
                           round((age_20_to_24_purchase_total / age_20_to_24_purchase_count), 2),
                           round((age_25_to_29_purchase_total / age_25_to_29_purchase_count), 2),
                           round((age_30_to_34_purchase_total / age_30_to_34_purchase_count), 2),
                           round((age_35_to_39_purchase_total / age_35_to_39_purchase_count), 2),
                           round((age_over_40_purchase_total / age_over_40_purchase_count), 2)]

# Create the bins in which Data will be held
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 46]

# Create the labels for bins
age_groups_lables = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Add column of bins based on Age
age_demographic_df["Age Groups"] = pd.cut(gender_dem_df["Age"],age_bins, labels=age_groups_lables)

# Put the values in bins defined above
age_groupby = age_demographic_df.groupby("Age Groups")["SN"].nunique().reset_index()
age_groupby["Purchase Count"] = purchase_count_by_age 
age_groupby["Average Purchase Price"] = average_purchase_by_age
age_groupby["Total Purchase Value"] = purchase_count_by_age
 
purchase_summary_by_age = age_groupby[["Age Groups", "Purchase Count", "Average Purchase Price", "Total Purchase Value"]].sort_values(["Age Groups"])
purchase_summary_by_age = purchase_summary_by_age.reset_index(drop=True)

# set Indext to Age Groups
purchase_summary_by_age = purchase_summary_by_age.set_index("Age Groups")
purchase_summary_by_age

            Purchase Count  Average Purchase Price  Total Purchase Value
Age Groups
<10                     23                    3.35                    23
10-14                   28                    2.96                    28
15-19                  136                    3.04                   136
20-24                  365                    3.05                   365
25-29                  101                    2.90                   101
30-34                   73                    2.93                    73
35-39                   41                    3.60                    41
40+                     13                    2.94                    13

In [647]:
# Top Spenders
 
# Run basic calculations to obtain the results in the table below
# Create a summary data frame to hold the results
# Sort the total purchase value column in descending order
# Optional: give the displayed data cleaner formatting
# Display a preview of the summary data frame

top_spenders_df = age_demographic_df[["SN","Price","Item Name"]]

# Get the total spend for each player and sort it
top_spenders = top_spenders_df.groupby("SN").sum()
top_spenders.sort_values(by = "Price", ascending = False, inplace = True)
print(top_spenders.iloc[4,0])

# Get top 5 spenders names
top_spenders = list(top_spenders.index.values)
top_spenders_names = [top_spenders[0], top_spenders[1], top_spenders[2], top_spenders[3], top_spenders[4]]

# Get total purchase values for the top 5 spenders
total_purchase_0 = top_spenders.iloc[0,0]
total_purchase_1 = top_spenders.iloc[1,0]
total_purchase_2 = top_spenders.iloc[2,0]
total_purchase_3 = top_spenders.iloc[3,0]
total_purchase_4 = top_spenders.iloc[4,0]
total_purchace_4
#top_purchase_values = [top_spenders.iloc[0,0], top_spenders.iloc[1,0], top_spenders.iloc[2,0], top_spenders.iloc[3,0],
#                    top_spenders.iloc[4,0]]
#top_purchase_values = [total_spent.iloc[0,0], total_spent.iloc[1,0], total_spent.iloc[2,0], total_spent.iloc[3,0],
#                    top_spenders.iloc[4,0]]
#total_purchase_0 = total_spent.iloc[0,0]
#total_purchase_1 = total_spent.iloc[1,0]
#total_purchase_2 = total_spent.iloc[2,0]
#total_purchase_3 = total_spent.iloc[3,0]
#total_purchase_4 = total_spent.iloc[4,0]
#top_purchase_values = [total_spent.iloc[0,0], total_spent.iloc[1,0], total_spent.iloc[2,0], total_spent.iloc[3,0],
#                      total_spent.iloc[4,0]]
                       
#print(top_purchase_values)

13.1

AttributeError: 'list' object has no attribute 'iloc'

In [655]:
top_spenders_df = age_demographic_df[["SN","Price","Item Name"]]
total_spent = top_spenders_df.groupby("SN").sum()
total_spent.sort_values(by = "Price", ascending = False, inplace = True)

# Get top 5 spenders names and make a list
names = list(total_spent.index.values)
top_names = [names[0],names[1],names[2],names[3],names[4]]

# TGet top 5 spenders purchase values and make a list
total_purchase_values_0 = total_spent.iloc[0,0]
total_purchase_values_1 = total_spent.iloc[1,0]
total_purchase_values_2 = total_spent.iloc[2,0]
total_purchase_values_3 = total_spent.iloc[3,0]
total_purchase_values_4 = total_spent.iloc[4,0]
top_purchase_values = [total_spent.iloc[0,0], total_spent.iloc[1,0], total_spent.iloc[2,0], total_spent.iloc[3,0],
                      total_spent.iloc[4,0]]

# Get top 5 spenders nummber of purchased and make a list
top_purchase_counts_0 = top_spenders_df[top_spenders_df["SN"] == names[0]].count()[0]
top_purchase_counts_1 = top_spenders_df[top_spenders_df["SN"] == names[1]].count()[0]
top_purchase_counts_2 = top_spenders_df[top_spenders_df["SN"] == names[2]].count()[0]
top_purchase_counts_3 = top_spenders_df[top_spenders_df["SN"] == names[3]].count()[0]
top_purchase_counts_4 = top_spenders_df[top_spenders_df["SN"] == names[4]].count()[0]
top_purchase_counts = [top_purchase_counts_0, top_purchase_counts_1, top_purchase_counts_2, top_purchase_counts_3,
                       top_purchase_counts_4]

# Calculate average prices for the top spenders and male a list
avg_price_0 = total_purchase_values_0 / top_purchase_counts_0
avg_price_1 = total_purchase_values_1 / top_purchase_counts_1
avg_price_2 = total_purchase_values_2 / top_purchase_counts_2
avg_price_3 = total_purchase_values_3 / top_purchase_counts_3
avg_price_4 = total_purchase_values_4 / top_purchase_counts_4
avg_prices = [avg_price_0, avg_price_1, avg_price_2, avg_price_3, avg_price_4]


# Put it all in a data frame
top_spenders_df = pd.DataFrame(top_spenders_dict)
top_spenders_df = top_spenders_df.set_index("SN")
top_spenders_df = top_spenders_df[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]

# Formatting prices
top_spenders_df.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

In [572]:
get_ipython().system('jupyter nbconvert --to script Heroes-of-Pymoli.ipynb')

[NbConvertApp] Converting notebook Heroes-of-Pymoli.ipynb to script
[NbConvertApp] Writing 12395 bytes to Heroes-of-Pymoli.py